.site-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 3em;
}

.site-nav a {
    margin: 0 1em;
}

.home-link{
    color: white;
}
a {
    text-decoration: none;
}
.home-link span{
    margin-left: 1em;
}